body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    height: 100vh; /* Set container to the full viewport height */
}

video {
    max-height: 100%;
    width: auto;
    object-fit: contain; /* Ensure video scales proportionally within the container */
}
